$small-size: 960px;
$medium-size: 1264px;
$large-size: 1904px;


$themes: (
  green: (
    primary-color: #e7eedd,
    secondary-color: #6f9630,
    tertiary-color: #d4f2a4,
    secondary-color-a99: #6f963099,
  ),
  blue: (
    primary-color: #c1f5f6,
    secondary-color: #309396,
    tertiary-color: #71e8ec,
    secondary-color-a99: #30939699,
  ),
  orange: (
    primary-color: #fadb9d,
    secondary-color: #f78d03,
    tertiary-color: #efb364,
    secondary-color-a99: #f78d0399,
  ),
  purple: (
    primary-color: #f2eaf7,
    secondary-color: #c681ee,
    tertiary-color: #f5e3f9,
    secondary-color-a99: #c681ee99,
  )
);

@each $theme-name, $colors in $themes {
  .theme-#{"" + $theme-name} {
    @each $color-name, $color in $colors {
      --#{$color-name}: #{$color};
    }
  }
}